{% extends "base.html.twig" %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt consequuntur, est officiis suscipit consequatur, consectetur ducimus velit voluptate reiciendis laboriosam repellendus tempore perspiciatis odio ullam provident sunt autem! Esse, nostrum!
	</p>
{% endblock %}